<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>

    <link href="/static/css/info/info.css" th:href="@{/static/css/info/info.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-6 mx-auto">
            <h3 class="mb-3">나의 정보를 선택해주세요!</h3>
            <h4><span class="badge bg-primary text-white">학생</span></h4>
            <form th:action="@{students/info}"method="post" th:object="${studentInfoDto}" enctype="multipart/form-data" class="validation-form"
                  novalidate>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="area">지역</label>
                        <select class="custom-select d-block w-100" id="area" th:field="*{area}" required>
                            <option value="">지역을 선택해주세요.</option>
                            <option>서울</option>
                            <option>경기</option>
                            <option>강원</option>
                            <option>충남</option>
                            <option>충북</option>
                            <option>전북</option>
                            <option>전남</option>
                            <option>경북</option>
                            <option>경남</option>
                            <option>제주</option>
                        </select>
                        <div class="invalid-feedback">
                            지역을 선택해주세요.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="grade">해당 학년</label>
                        <select class="custom-select d-block w-100" id="grade" th:field="*{admission}" required>
                            <!--admission-->
                            <option value="">해당 학년을 선택해주세요.</option>
                            <option>초등학교 1학년</option>
                            <option>초등학교 2학년</option>
                            <option>초등학교 3학년</option>
                            <option>초등학교 4학년</option>
                            <option>초등학교 5학년</option>
                            <option>초등학교 6학년</option>
                            <option>중학교 1학년</option>
                            <option>중학교 2학년</option>
                            <option>중학교 3학년</option>
                            <option>고등학교 1학년</option>
                            <option>고등학교 2학년</option>
                            <option>고등학교 3학년</option>
                        </select>
                        <div class="invalid-feedback">
                            해당 학년을 선택해주세요.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="style">원하는 선생님의 성향</label>
                        <select class="custom-select d-block w-100" id="style" th:field="*{style}" required>
                            <option value="">원하는 선생님의 성향을 선택해주세요.</option>
                            <option>열정적인</option>
                            <option>다정한</option>
                            <option>재미있는</option>
                            <option>카리스마 있는</option>
                            <option>꼼꼼한</option>
                            <option>차분한</option>
                        </select>
                        <div class="invalid-feedback">
                            원하는 선생님의 성향을 선택해주세요.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="subject">관심과목</label>
                        <select class="custom-select d-block w-100" id="subject" th:field="*{subject}" required>
                            <option value="">관심과목을 선택해주세요.</option>
                            <option>국어</option>
                            <option>수학</option>
                            <option>영어</option>
                            <option>과학</option>
                            <option>사회</option>
                        </select>
                        <div class="invalid-feedback">
                            관심과목을 선택해주세요.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="money">과외비용(시급)</label>
                        <select class="custom-select d-block w-100" id="money" th:field="*{money}" required>
                            <option value="">과외비용(시급)을 선택해주세요.</option>
                            <option>1만원 대</option>
                            <option>2만원 대</option>
                            <option>3만원 대</option>
                            <option>4만원 대 이상</option>
                        </select>
                        <div class="invalid-feedback">
                            과외비용(시급)을 선택해주세요.
                        </div>
                    </div>
                </div>


                <div class="mb-4"></div>
                <button class="btn btn-primary btn-lg btn-block" type="submit"
                        onClick="location.href='../login/login.html'"
                        th:onClick="|location.href='@{../login/login.html}'|">다음
                </button>

            </form>
        </div>
    </div>
    <footer class="my-3 text-center text-small">
        <p class="mb-1">&copy; 열심히는하자</p>
    </footer>
</div>

<script th:inline="javascript">

    $(document).ready(function () {
        let errorMessage = [[${errorMessage}]];
        if (errorMessage != null) {
            alert(errorMessage);
        }
    });

    window.addEventListener('load', () => {
        const forms = document.getElementsByClassName('validation-form');

        Array.prototype.filter.call(forms, (form) => {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }

                form.classList.add('was-validated');
            }, false);
        });
    }, false);
</script>
</body>

</html>