<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>

    <link href="/css/info/info.css" th:href="@{/css/info/info.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
<div class="container">
    <div class="input-form-background row">
        <div class="input-form col-md-6 mx-auto">
            <h3 class="mb-3">나의 정보를 선택해주세요!</h3>
            <h4><span class="badge bg-primary text-white">선생님</span></h4>
            <form th:action="@{info}" method="post" th:object="${teacherInfoDto}" enctype="multipart/form-data"
                  class="validation-form"
                  novalidate>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="area">지역</label>
                        <select class="custom-select d-block w-100" id="area" th:field="*{area}" required>
                            <option th:value="''" selected disabled>지역을 선택해주세요.</option>
                            <option th:value="'서울'">서울</option>
                            <option th:value="'경기'">경기</option>
                            <option th:value="'강원'">강원</option>
                            <option th:value="'충남'">충남</option>
                            <option th:value="'충북'">충북</option>
                            <option th:value="'전북'">전북</option>
                            <option th:value="'전남'">전남</option>
                            <option th:value="'경북'">경북</option>
                            <option th:value="'경남'">경남</option>
                            <option th:value="'제주'">제주</option>
                        </select>
                        <div class="invalid-feedback">
                            지역을 선택해주세요.
                        </div>
                    </div>
                </div>


                <div class="mb-3">
                    <label for="age">나이</label>
                    <input type="text" class="form-control" id="age" th:field="*{age}" placeholder="나이를 입력해주세요."
                           required>
                    <div class="invalid-feedback">
                        나이를 입력해주세요.
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="style">성향</label>
                        <select class="custom-select d-block w-100" id="style" th:field="*{style}" required>
                            <option th:value="''" selected disabled>자신의 성향을 선택해주세요.</option>
                            <option th:value="'열정적인'">열정적인</option>
                            <option th:value="'다정한'">다정한</option>
                            <option th:value="'재미있는'">재미있는</option>
                            <option th:value="'카리스마 있는'">카리스마 있는</option>
                            <option th:value="'꼼꼼한'">꼼꼼한</option>
                            <option th:value="'차분한'">차분한</option>
                        </select>
                        <div class="invalid-feedback">
                            자신의 성향을 선택해주세요.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="target">가르칠 대상</label>
                        <select class="custom-select d-block w-100" id="target" th:field="*{target}" required>
                            <option th:value="''" selected disabled>가르칠 대상을 선택해주세요.</option>
                            <option th:value="'초등학교 1학년'">초등학교 1학년</option>
                            <option th:value="'초등학교 2학년'">초등학교 2학년</option>
                            <option th:value="'초등학교 3학년'">초등학교 3학년</option>
                            <option th:value="'초등학교 4학년'">초등학교 4학년</option>
                            <option th:value="'초등학교 5학년'">초등학교 5학년</option>
                            <option th:value="'초등학교 6학년'">초등학교 6학년</option>
                            <option th:value="'중학교 1학년'">중학교 1학년</option>
                            <option th:value="'중학교 2학년'">중학교 2학년</option>
                            <option th:value="'중학교 3학년'">중학교 3학년</option>
                            <option th:value="'고등학교 1학년'">고등학교 1학년</option>
                            <option th:value="'고등학교 2학년'">고등학교 2학년</option>
                            <option th:value="'고등학교 3학년'">고등학교 3학년</option>
                        </select>
                        <div class="invalid-feedback">
                            가르칠 대상을 선택해주세요.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="subject">가르칠 과목</label>
                        <select class="custom-select d-block w-100" id="subject" th:field="*{subject}" required>
                            <option th:value="''" selected disabled>가르칠 과목을 선택해주세요.</option>
                            <option th:value="'국어'">국어</option>
                            <option th:value="'수학'">수학</option>
                            <option th:value="'영어'">영어</option>
                            <option th:value="'과학'">과학</option>
                            <option th:value="'사회'">사회</option>
                        </select>
                        <div class="invalid-feedback">
                            가르칠 과목을 선택해주세요.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="university">대학</label>
                    <input type="text" class="form-control" id="university" th:field="*{university}"
                           placeholder="대학을 입력해주세요." required>
                    <div class="invalid-feedback">
                        대학을 입력해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="major">전공</label>
                    <input type="text" class="form-control" id="major" th:field="*{major}" placeholder="전공을 입력해주세요."
                           required>
                    <div class="invalid-feedback">
                        전공을 입력해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="wage">과외비용(시급)</label>
                    <input type="text" class="form-control" id="wage" th:field="*{wage}" placeholder="과외비용(시급)을 입력해주세요."
                           required>
                    <div class="invalid-feedback">
                        과외비용(시급)을 입력해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="experience">경력 및 소개</label>
                    <input type="text" class="form-control" id="experience" th:field="*{experience}"
                           placeholder="경력 및 소개를 100자 아내로 작성해주세요." maxlength="100" required>
                    <div class="invalid-feedback">
                        경력 및 소개를 작성해주세요.
                    </div>
                </div>


                <div class="mb-4"></div>
                <button class="btn btn-primary btn-lg btn-block" type="submit"
                        onClick="location.href='../login/login.html'"
                        th:onClick="|location.href='@{../login/login.html}'|">다음
                </button>

            </form>
        </div>
    </div>
    <footer class="my-3 text-center text-small">
        <p class="mb-1">&copy; 열심히는하자</p>
    </footer>
</div>
<script th:inline="javascript">

    $(document).ready(function () {
        let errorMessage = [[${errorMessage}]];
        if (errorMessage != null) {
            alert(errorMessage);
        }
    });

    window.addEventListener('load', () => {
        const forms = document.getElementsByClassName('validation-form');

        Array.prototype.filter.call(forms, (form) => {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }

                form.classList.add('was-validated');
            }, false);
        });
    }, false);
</script>
</body>

</html>